# csugeo

Úvod do projektu

# Flow

- Co skript dělá?
- V jakém pořadí to dělá?
- Odkud se berou data?

# Struktura

- co je v jakých složkách?
- jaké složky se automaticky tvoří?
- Jsou potřeba nějaké rekvizity?

# Spuštění

- Jak kód spusti?
- Co je hlavní (startovací) skript?
- Je nutné něco před tím stáhnout?

# Poznámky

- Jsou data divná?
- Existují nějaké nekonzistence?